// Font Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
// Font Roboto Slab
@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Font Inter
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Font

@font-face {
  font-family: "Robot Reavers";
  src: url("./fonts/RobotReavers.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Robot Reavers";
  src: url("./fonts/RobotReaversItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


//font SVN-Futura
// @font-face {
//   font-family: "SVN Futura";
//   src: url("./fonts/SVN-FuturaBold.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "SVN Futura";
//   src: url("./fonts/SVN-FUTURAREGULAR.OTF") format("opentype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: "SVN Futura";
  src: url("./fonts/SVN-FuturaDemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}